<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to Movie Recommender!
  </h1>
</div>
<hr/>
<a style="margin-left:15px" routerLink="/users">List Users</a>
<a style="margin-left:15px" routerLink="/add-user">Add User</a>
<a style="margin-left:15px" routerLink="/movies">List Movies</a>
<a style="margin-left:15px" routerLink="/add-movie">Add Movie</a>
<a style="margin-left:40px" routerLink="/recommend">Get a recommendation</a>

<hr/>

<router-outlet></router-outlet>
</div>

